# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage files
coverage
lib-cov
.nyc_output
*.lcov

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional ESLint cache
.eslintcache

# Environment variables file
.env
.env.local
.env.test
